* {
	padding: 0px;
	margin: 0px;
    font-family: Helvetica !important;
}

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow-x: hidden;
}

header {
	padding: 0px;
	margin: 0px;
	height: 50px;
	font-family: Helvetica;
	font-weight: bolder;
	color: white;
	background-color: #3c2b21;
	position: relative;
}

header a {
    color: white;
}

header a:active {hidden
    color: #3c2b21 !important;
}

header span {
    height: 100%;
    position: relative;
}

.categoryButton {
	padding-top: 1em;
	background-color: #f4f3ea;
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: .8em;
	height: 2em;
	text-align: center;
	font-weight: bold;
	color: #3c2b21;
	font-size: 1.2em;
	cursor: pointer;
}

.categoryButtonLight {
	padding-top: 8px;
	background-color: #ffffff;
	display: block;
	margin-bottom: .3em;
	height: 1.5em;
	text-align: center;
	color: #3c2b21;
	font-size: 1.2em;
}

.categoryButtonDark {
	padding-top: 8px;
	background-color: #f4f3ea;
	display: block;
	margin-top: 0px;
	height: 1.5em;
	text-align: center;
	color: #3c2b21;
	font-size: 1.2em;
}

#content {
    min-height: inherit !important;
    margin: 50px 10px;
    padding: 0;
}

.contentBackground {
	margin: .3em;
	background-color: #ffffff;
	height: auto;
	padding: .8em;
	box-shadow: 3px 3px #EEE;
}

::-webkit-scrollbar {
	display: none;
}

.column {
    padding: 5px 5px;
    background-color: #f4f3ea;
    margin: 0px 10px 20px 10px;
    box-shadow: 3px 3px #EEE;
    overflow-y: scroll;
}

.fill {
    min-height: 100%;
}

.bold {
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.contentBox {
    background-color: #f4f3ea;
    color: #3c2b21;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    font-weight: bolder;
    color: #3c2b21;
    padding-bottom: 10px;
}

#currentColumn {
	margin-top: 40px;
}

#logo {
    display: inline;
    right: 20%;
    position: absolute;
}

#logo img{
    width: 180px;
    border-style: solid;
    border-width: 5px;
    border-color: #f4f3ea;
    box-shadow: 3px 3px #CCC;
}

#tlnav {
    width: 446px !important;
    height: auto !important;
    margin: 0 !important;
    position: absolute;
    left: 0%;
    top: 30%;
}

#tlnav li {
    display: inline;
    margin-right: 20px;
}

/* begin my code */

.nav-header{
	text-align: center;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: inherit;
}

.app-unit{
	text-align: center;
	cursor: pointer;
	margin-bottom: 80px;
}

.app-img{
	margin-left: 20px;
	margin-right: auto;
}



#leftarrow{
	font: inherit;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
	top: 50%;
	/*margin-top: 600%;*/
}

#rightarrow{
	font: inherit;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
	/*margin-top: 600%;*/
}

h6{
	font-family: Helvetica;
	font-weight: bolder;
	text-align: center;
	text-size: 1.2em;
}

.author{
	font-family: Helvetica;
	font-weight: lighter;
	font-style: italic;
	text-align: center;
	font-size: .85em;
	color: rgba(0,0,0,0.57);
}

.arrow{
	display: block;
	position: relative;
	top: 50%;
}

/* end my code */

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) { /* tablets */

}

@media (max-width: 767px) { /* Phones */
    html , body {
        overflow-y: auto;
    }

    body {
	   padding: 0px;
	   margin: 0px;
	   height: 100%;
	   background-color: #f4f3ea;
    }
    
    #content {
       padding: 0px;
	   margin: 0px;
    }
    
    .contentBox {
        background-color: #f4f3ea;
        color: #3c2b21;
        margin-bottom: 10px;
    }

    .column {
        background-color: #ffffff;
        margin: 50px 10px 20px 10px;
        box-shadow: 3px 3px #CCC;
        text-align: center;
    }
    
    #logo {
        left:10%;
    }
    
    #tlnavBottom ul {
        margin: 0 !important;
    }
    
    #tlnavBottom li {
        /*display: block;*/
        height: 3em;
        line-height: 3em;
        list-style: none;
        text-align: center;
        background-color: #3c2b21;
        margin-bottom: 10px;
        padding: 0;
    }
    
    #tlnavBottom li a {
        color: white;
    }
    
    #tlnavBottom li a {
        text-decoration: none;
    }
    
    .app-unit{
		display: block;
		margin-left: auto;
		margin-right: auto;
		/*padding-top:50px;
		padding-bottom:50px;*/
		text-align: center;
	}
	
	.app-img{
		margin-left: auto;
		margin-right: auto;
	}
	
	#sidebarcol{
		display: hidden;
	}
	
}

@media (max-width: 480px) { 

}


@media (max-width: 979px) {

}

@media (min-width: 980px) {

}

