::-webkit-scrollbar { 
    display: none; 
}

* {
	padding: 0px;
	margin: 0px;
    font-family: Helvetica !important;
}

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow-x: hidden;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

header {
	padding: 0px;
	margin: 0px;
	height: 50px;
	font-family: Helvetica;
	font-weight: bolder;
	color: white;
	background-color: #3c2b21;
	position: relative;
}

header a {
    color: white;
}

header a:active {
    color: #3c2b21 !important;
}

header span {
    height: 100%;
    position: relative;
}

#content {
    min-height: inherit !important;
    margin: 0px 10px;
    padding: 0;
}

.column {
    padding: 10px 10px;
    background-color: #ffffff;
    margin: 0px 10px 20px 10px;
    overflow-y: scroll;
}

.boxTitle {
	background-color: #f4f3ea;
	box-shadow: 2px 2px #EEE;
	padding-left: 10px;
	margin-bottom: .4em;
}

#linkGrid {
    padding-left: 10px;
    text-align: center;
    width: 100%;
}

.contentBox {
    color: #3c2b21;
    height: auto;
    margin-bottom: 10px;
}

.contentBox .showMore {
    font-style: italic;
    color: #AAA;
    list-style: none;
    margin-left: 0;
    text-indent: -1.3em;
}

.contentBox .showMore:before {
    content: "+ ";
    padding-right: .3em;
}

.fill {
    min-height: 100%;
}

.bold {
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-weight: bolder;
    color: #3c2b21;
    padding-bottom: 10px;
}

#currentColumn {
	margin-top: 40px;
}

#logo {
    display: inline;
    right: 20%;
    position: absolute;
}

#logo img{
    width: 180px;
    border-style: solid;
    border-width: 5px;
    border-color: #f4f3ea;
    box-shadow: 3px 3px #CCC;
}

#tlnav {
    width: 446px !important;
    height: auto !important;
    margin: 0 !important;
    position: absolute;
    left: 0%;
    top: 35%;
}

#tlnav li {
    display: inline;
    margin-right: 20px;
}

#smallMenu {
    display: block;
    position: absolute;
    right: 20%;
    top: 35%;
}

.listingList li {
    height: 1.5em;
}

.eventsList {
    margin: 0 0 20px 0;
}

.eventsList li {
    list-style: none;
}

.eventContainer {
    height: 44px;
    display: block;
    margin-bottom: 0px;
}

.eventDate {
    display: inline;
    float: left;
    width: 18%;
    text-align: center;
    font-weight: 700;
}

.eventText {
    display: block;
    float: right;
    height: inherit !important;
    width: 80%;
    overflow: hidden;
    font-weight: 100;
}

.everyOther {
    background-color: #f4f3ea;
}

#newsimg {
    margin-top: -4px;
    margin-bottom: 1em;
}

.newsTitle {
    font-weight: bold;
    font-size: x-large;
}

.newsByline {
    font-weight: 200;
    color: gray;
    font-style: italic;
    margin: .3em 0;
}

.newsMore {
    color: gray;
    font-style: italic;
}

#weatherImgDiv {
    height: 5em;
    display: inline;
    float: left;
    width: 40%;
}

#weatherImgDiv img {
    position: relative;
    left: 20%;
    top: 10%;
}

#weatherInfo {
    height: 5em;
}

#weatherInfo p {
    text-align: center;
    position: relative;
    font-size: larger;
    font-weight: 300;
    top: 20%;
}

.crop { height: 200px; overflow: hidden; }
.crop img { height: auto; }

/*
#listingsColumn {
	background-color: #10ff1c;
}

#eventsColumn {
	background-color: #00ffe7;
}*/

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) { /* Phones */
    html , body {
        overflow-y: auto;
    }

    body {
	   padding: 0px;
	   margin: 0px;
	   height: 100%;
	   background-color: #f4f3ea;
    }
    
    #content {
       padding: 0px;
	   margin: 0px;
    }
    
    .contentBox {
        color: #3c2b21;
        margin-bottom: 10px;
    }

    .column {
        background-color: #ffffff;
        margin: 0px 10px 20px 10px;
        box-shadow: 3px 3px #CCC;
        height: auto;
    }
    
    #logo {
        left:10%;
    }
    
    #tlnavBottom ul {
        margin: 0 !important;
    }
    
    #tlnavBottom li {
        display: block;
        height: 3em;
        line-height: 3em;
        list-style: none;
        text-align: center;
        background-color: #3c2b21;
        margin-bottom: 10px;
        padding: 0;
    }
    
    #tlnavBottom li a {
        color: white;
    }
    
    #tlnavBottom li a {
        text-decoration: none;
    }
}

@media (max-width: 480px) { 

}


@media (max-width: 979px) {

}

@media (min-width: 980px) {

}

